<table>
    <tbody>
        <tr>
            <th>From</th>
        </tr>
        <tr>
            <td class="label" *ngIf="stationFrom">
                <img class="small-icon" src="/assets/lines/{{ stationFrom.line_icon }}" /> {{ stationFrom.name }}
                <i class="fa fa-times" aria-hidden="true" (click)="removeStation('from')"></i>
            </td>
            <td *ngIf="!stationFrom">
                <input type="text" ng-model="stationFromSearch" (keyup)="triggerSearch($event, 'from')" placeholder="enter station keyword" />
            </td>
        </tr>
        <tr *ngIf="filteredFromStations.length">
            <td>
                <ul>
                    <li *ngFor="let station of filteredFromStations" (click)="changeStation('from', station.id)">
                        <img src="/assets/lines/{{ station.line_icon }}" class="small-icon" />{{ station.name }} </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>To</th>
        </tr>
        <tr>
            <td class="label" *ngIf="stationTo">
                <img class="small-icon" src="/assets/lines/{{ stationTo.line_icon }}" /> {{ stationTo.name }}
                <i class="fa fa-times" aria-hidden="true" (click)="removeStation('to')"></i>
            </td>
            <td *ngIf="!stationTo">
                <input type="text" ng-model="stationToSearch" (keyup)="triggerSearch($event, 'to')" placeholder="enter station keyword" />
            </td>
        </tr>
        <tr *ngIf="filteredToStations.length">
            <td>
                <ul>
                    <li *ngFor="let station of filteredToStations" (click)="changeStation('to', station.id)">
                        <img src="/assets/lines/{{ station.line_icon }}" class="small-icon" />{{ station.name }} </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="fare" class="fare">
    <h1>MRT Fare</h1>
    <table>
        <tbody>
            <tr>
                <th>Fare Type</th>
                <th width="200">Fare Amount</th>
            </tr>
            <tr>
                <td>Cash / Token Fare</td>
                <td>{{ fare.cash_fare }}</td>
            </tr>
            <tr>
                <td>Cashless / TnG Fare</td>
                <td>{{ fare.cashless_fare }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="bestRoute.length" class="route">
    <h1>MRT Route</h1>

    <table>
        <thead>
            <tr>
                <td *ngIf="this.isShortcut" class="label-small" (click)="displayRoute('full')"> Display Full Route
                    <i class="fa fa-arrow-down" aria-hidden="true"></i></td>

                <td *ngIf="!this.isShortcut" class="label-small" (click)="displayRoute('shortcut')"> Display Brief Route
                    <i class="fa fa-arrow-up" aria-hidden="true"></i></td>
            </tr>
        </thead>
        <tbody *ngIf="!this.isShortcut">
            <tr *ngFor="let route of bestRoute">
                <td>
                    <img src="/assets/lines/{{ route.line.icon }}" class="route-icon" />{{ route.name_ref }} - {{ route.name }}
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="this.isShortcut">
            <tr *ngFor="let route of shortcutRoute">
                <td>
                    <img src="/assets/lines/{{ route.line.icon }}" class="route-icon" />{{ route.name_ref }} - {{ route.name }}
                </td>
            </tr>
        </tbody>
    </table>
</div>